<!DOCTYPE html>
<html lang="en">

<head>
  <title>7A</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <link
    href="https://fonts.googleapis.com/css2?family=Signika+Negative&family=Stick+No+Bills:wght@700&family=Teko&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>



  <nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/img/letter-m.png" width="5%" alt="">
        VIVIDHA 2022</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">VIVIDHA 2022</h5>
          <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="About">About Us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Class
              </a>
              <ul class="dropdown-menu dropdown-menu">
                <li><a class="dropdown-item" href="7A">7A</a></li>
                <li><a class="dropdown-item" href="7B">7B</a></li>
                <li><a class="dropdown-item" href="7C">7C</a></li>
                <li><a class="dropdown-item" href="7D">7D</a></li>
                <li><a class="dropdown-item" href="7E">7E</a></li>
                <li><a class="dropdown-item" href="7F">7F</a></li>
                <li><a class="dropdown-item" href="7G">7G</a></li>
                <li><a class="dropdown-item" href="7H">7H</a></li>
                <li><a class="dropdown-item" href="7I">7I</a></li>
                <li><a class="dropdown-item" href="7J">7J</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <br>



  <div class="jumbotron text-center">
    <h1>7A</h1>
    <p>Topic: Unusual Markets</p>
  </div>

  <div class="container">
    <div class="row">
      <h2>Grade 7A had been researching about some of the most unusual markets around the world.</h2>
      <h2>We've got to admit, there are some very unusual markets around the world. Lets check some of them:</h2>
      <h4><b>1. Maeklong Railway Market:</b>

        The Maeklong Railway Market is located just an hour’s ride outside of Bangkok. What makes it so interesting is
        that the market is spread out over a functioning train track. A train actually passes through this market 8
        times a day, and vendors will coolly pull back their products and overhanging umbrellas to let the train pass.
        Many stores are actually dangerously close to the train as it passes, so it’s truly a sight to see. If you’re
        not in a rush, you can stay longer and actually witness a train passing through. However, schedules are not
        fixed and the train is notorious for not following any fixed times. While waiting for your photo op, you can
        browse through the market for Thai snacks, clothing, fruits and more.
        Where: Maeklong Market, Mae Klong, Mueang Samut Songkhram District, Samut Songkhram 75000, Thailand. Getting
        there: Take the BTS Skytrain to Victory Monument and take a minibus to Mae Klong district, which is an hour’s
        drive from Bangkok. The minibus will stop at Maeklong Market.</h4>


      <img src="/img/U1.jpg" alt="">
      <br>
      <br>

      <h4><b>2.Muara Kuin Floating Market, Banjarmasin, Indonesia:</b>

        Apparently, Thailand isn’t the only place that has floating markets. For something a little different, head over
        to the Muara Kuin Floating Market in Banjarmasin. The market takes place between 5am-9am daily, so you best be
        as early as possible. Most of the traders are women, and you’ll find lots of fresh local produce like fruits,
        vegetables, fish prawns and more. You’ll also be able to try a local delicacy called Soto Banjar, a type of
        noodles in soup.

        Where: Muara Kuin, Banjarmasin, South Kalimantan, Indonesia.
        Getting there: Since the market starts really early, it’s advisable to stay the night at Banjarmasin town. From
        here, you can hire a boat called a ‘Klotok’ to go upriver to the market, which is about a 45-minute ride.
      </h4>
      <img src="/img/U2.jpg" alt="">
      <br>
      <br>


    </div>
  </div>
  <div class="col-xs-12" style="height:50px;">
    <center>
      <a type="" href="/" class="btn btn-link btn-lg">Back</a>
    </center>
  </div>

</body>

</html>