<!DOCTYPE html>
<html lang="en">

<head>
  <title>7B</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


  <link
    href="https://fonts.googleapis.com/css2?family=Signika+Negative&family=Stick+No+Bills:wght@700&family=Teko&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">

  <link rel="icon" type="image/x-icon" href="/img/letter-m.png">



</head>

<body>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>



  <nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/img/letter-m.png" width="5%" alt="">
        VIVIDHA 2022</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">VIVIDHA 2022</h5>
          <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="About">About Us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Class
              </a>
              <ul class="dropdown-menu dropdown-menu">
                <li><a class="dropdown-item" href="7A">7A</a></li>
                <li><a class="dropdown-item" href="7B">7B</a></li>
                <li><a class="dropdown-item" href="7C">7C</a></li>
                <li><a class="dropdown-item" href="7D">7D</a></li>
                <li><a class="dropdown-item" href="7E">7E</a></li>
                <li><a class="dropdown-item" href="7F">7F</a></li>
                <li><a class="dropdown-item" href="7G">7G</a></li>
                <li><a class="dropdown-item" href="7H">7H</a></li>
                <li><a class="dropdown-item" href="7I">7I</a></li>
                <li><a class="dropdown-item" href="7J">7J</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <br>




  <div class="jumbotron text-center">
    <h1>7B</h1>
    <p>Topic: Global Markets</p>
  </div>

  <div class="container">
    <div class="row">
      <h2>Going global means venturing into new markets around the world; markets constitute of people with different
        values which in most cases become determinants of what they consume.</h2>
      <br>
      <br>
      <h4>An effective market research will take time and funds. Carrying out a market research is extremely important
        if the process of going global has to be successfully carried out. By carrying out a market research various
        significant aspects will be brought into light making it possible for a business to engage in strategic
        modification of its goods to fit the new markets – it is worth noting that it is the goods to fit the markets
        and not markets to fit the goods.

        Some of the significant aspects which need to be researched on include legal issues, cultural factors,
        competition, and presence of strategic partners among other factors. All these factors have to be examined
        carefully to retrieve accurate information because any assumptions made may likely make a huge contribution to
        failure of a company in its globalization process (Levi, 2007).
        <br><br>
        <center><img src="/img/MAW.jpeg" alt=""></center><br><br>

        It is quite unfortunate that in most cases, a primary research has to be carried out to find out how best goods
        can be adapted to fit in a new market. This is especially the case when the goods are unique in the market. New
        kinds of goods are often confronted with cultural challenges in new markets and in some cases they may even be
        rejected in some areas depending on cultural backgrounds of such areas.
      </h4>

    </div>
  </div>
  <div class="col-xs-12" style="height:50px;">
    <center>
      <a type="" href="/" class="btn btn-link btn-lg">Back</a>
    </center>
  </div>
</body>

</html>