<!DOCTYPE html>
<html lang="en">

<head>
  <title>7C</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Signika+Negative&family=Stick+No+Bills:wght@700&family=Teko&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>



  <nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" />
        <img src="/img/letter-m.png" width="5%" alt="">
        VIVIDHA 2022</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">VIVIDHA 2022</h5>
          <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" />Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="About">About Us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Class
              </a>
              <ul class="dropdown-menu dropdown-menu">
                <li><a class="dropdown-item" href="7A">7A</a></li>
                <li><a class="dropdown-item" href="7B">7B</a></li>
                <li><a class="dropdown-item" href="7C">7C</a></li>
                <li><a class="dropdown-item" href="7D">7D</a></li>
                <li><a class="dropdown-item" href="7E">7E</a></li>
                <li><a class="dropdown-item" href="7F">7F</a></li>
                <li><a class="dropdown-item" href="7G">7G</a></li>
                <li><a class="dropdown-item" href="7H">7H</a></li>
                <li><a class="dropdown-item" href="7I">7I</a></li>
                <li><a class="dropdown-item" href="7J">7J</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="jumbotron text-center">
    <h1>7C</h1>
    <p>Topic: Chain of Markets</p>
  </div>


  <div class="container">
    <div class="row">
      <h2>Do you know where does the food you buy from supermarkets come from and what is the process? Grade 7C had been
        researching about these for long.</h2>
      <h2>What Is a Supply Chain?</h2>
      <h4>A supply chain is a network of individuals and companies who are involved in creating a product and delivering
        it to the consumer. Links on the chain begin with the producers of the raw materials and end when the van
        delivers the finished product to the end user.

        Supply chain management is a crucial process because an optimized supply chain results in lower costs and a more
        efficient production cycle. Companies seek to improve their supply chains so they can reduce their costs and
        remain competitive.

        KEY TAKEAWAYS
        A supply chain is a network of companies and people that are involved in the production and delivery of a
        product or service.
        The components of a supply chain include producers, vendors, warehouses, transportation companies, distribution
        centers, and retailers.
        The functions of a supply chain include product development, marketing, operations, distribution, finance, and
        customer service.
        Today, many supply chains are global in scale.
        Effective supply chain management results in lower costs and a faster production cycle.</h4>
      <img src="/img/COM.png" alt="">
      <h2>Understanding a Supply Chain</h2>
      <h4>A supply chain includes every step that is involved in getting a finished product or service to the customer.
        The steps may include sourcing raw materials, moving them to production, then transporting the finished products
        to a distribution center or retail store where they may be delivered to the consumer.

        The entities involved in the supply chain include producers, vendors, warehouses, transportation companies,
        distribution centers, and retailers.

        The supply chain begins operating when a business receives an order from a customer. Thus, its essential
        functions include product development, marketing, operations, distribution networks, finance, and customer
        service.

        When supply chain management is effective, it can lower a company's overall costs and boost its profitability.
        If one link breaks, it can affect the rest of the chain and can be costly.</h4>
    </div>

  </div>
  <br><br>

  <div class="col-xs-12" style="height:50px;">
    <center>
      <a type="" / class="btn btn-link btn-lg">Back</a>
    </center>
  </div>


</body>

</html>