<!DOCTYPE html>
<html lang="en">

<head>
  <title>7D</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


  <link
    href="https://fonts.googleapis.com/css2?family=Signika+Negative&family=Stick+No+Bills:wght@700&family=Teko&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>



  <nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/img/letter-m.png" width="5%" alt="">
        VIVIDHA 2022</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">VIVIDHA 2022</h5>
          <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="About">About Us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Class
              </a>
              <ul class="dropdown-menu dropdown-menu">
                <li><a class="dropdown-item" href="7A">7A</a></li>
                <li><a class="dropdown-item" href="7B">7B</a></li>
                <li><a class="dropdown-item" href="7C">7C</a></li>
                <li><a class="dropdown-item" href="7D">7D</a></li>
                <li><a class="dropdown-item" href="7E">7E</a></li>
                <li><a class="dropdown-item" href="7F">7F</a></li>
                <li><a class="dropdown-item" href="7G">7G</a></li>
                <li><a class="dropdown-item" href="7H">7H</a></li>
                <li><a class="dropdown-item" href="7I">7I</a></li>
                <li><a class="dropdown-item" href="7J">7J</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <br>




  <div class="jumbotron text-center">
    <h1>7D</h1>
    <p>Topic: Changing Face of Markets (Multi Faceted Markets)</p>
  </div>

  <div class="container">
    <div class="row">
      <h2>Markets have changed a lot over the years. From the barter system to coins to modern crypto currency, almost
        everything has changed; except the main theory of trade and markets.</h2>
      <h4>Whether it’s the dollar, pound, rouble, rupee, euro or yuan, physical or digital, our entire world is built on
        currency exchange. But from barter, banknote to bitcoin, the means of exchange have evolved significantly. Let’s
        have a look.</h4>
      <br>
      <br>
      <center><img src="/img/cfom.webp" alt=""></center><br><br>
      <h4><center><h3 class="timeline-text">9000 B.C.: Barter begins </center></h3><br> <br>

        Bartering was first recorded in Egypt in 9000 B.C., when farmers would go to market to exchange cows for sheep,
        with grains passing through the hands of harvesters in exchange for oils.

        As barter developed along ancient trade routes, articles of exchange became more sophisticated. Egyptian
        papyrus, precious stones and chariots could now buy you exotic animals, skins and minerals from Africa and Asia.
        Although hieroglyphics show us trade was not hassle-free, with arguments over price a common occurrence.

        <br> <br><center><h3 class="timeline-text"> 600 B.C.: The world’s first coin </center></h3><br> <br>

        Putting an end to such arguments, the first known currency was recorded in the ancient kingdom of Lydia (now
        part of Turkey). The world’s first coin proudly displayed the head of a roaring lion on one side, with simple
        markings on the other.

        Irregular in shape and size, the coins were made from electrum – a naturally occurring mix of gold and silver –
        and minted according to weight, with the lowest denomination weighing a meager 0.15 grams. For that reason,
        coins were often weighed rather than counted.

        <br> <br><center><h3 class="timeline-text">1250 A.D.: International trade flourishes </center></h3><br> <br>

        The Florin was issued in Florence around 1250 A.D.; this gold coin kept a stable value for more than a century.
        It was accepted across Europe and its stability played an important role in encouraging international trade on
        the continent.

        <br> <br><center><h3 class="timeline-text">1290 A.D.: Banknotes are introduced</center></h3> <br> <br>

        In the 13th century, travelers such as Marco Polo introduced the concept of banknotes to Europe from China,
        where paper currency had been in circulation since the eleventh century. But Europe was not ready for banknotes;
        it took another 300 years for them to take off, with Sweden the earliest adopter.

        Middle Ages: Columbus destabilizes currency</center></h3> <br> <br>

        The Black Death and the rise of counterfeit coins caused severe inflation. Prices returned to normal by the
        mid-1400s. But when Columbus established contact with the Americas later that century, a glut of precious metals
        on the European market destabilised currency for centuries.

        <br> <br><center><h3 class="timeline-text">1871: The start of e-money </center></h3><br> <br>

        Founded as the New York and Mississippi Valley Printing Telegraph Company in 1851, Western Union built a
        transcontinental telephone line across America in 1861. But after a party of Sioux warriors cut a large part of
        the wire to make bracelets, the pace of change slowed. When some of the bracelet-wearing warriors fell ill, a
        Sioux medicine man declared that the great spirit of the “talking wire” had sought revenge for its destruction.
        Western Union was left to connect the East and West Coast of America, with the first fund transfer via telegram
        taking place in 1871: the concept of e-money was born.

        <br> <br><center><h3 class="timeline-text">1950: The first credit card </center></h3><br> <br>

        Created in 1950 by Frank McNamara when he found himself without enough cash to pay for dinner, the Diners Club
        Card was the world’s first credit card. Realizing his shortfall as he reached into his pocket to pay for dinner,
        McNamara was forced to call his wife and ask her to bring cash to the restaurant. He vowed this would be the
        last such supper.

        Today, more than half of all transactions in the U.S. and U.K. are put on plastic thanks to McNamara’s
        embarrassing dinner.

        <br> <br><center><h3 class="timeline-text">1967: The invention of ATMs</center></h3> <br> <br>

        Legend has it that John Shepherd-Barron devised the world’s first automatic teller machine while taking a bath,
        which has historically proven to be the single best place to have an epiphany. Eureka! He pitched the idea to
        Barclays Bank, with the first model installed in Enfield, North London, in 1967.

        As plastic payment cards had not yet been invented, early ATMs used checks impregnated with carbon 14 – a
        radioactive substance – and paid out a maximum of £10 at a time. The expanding ATM network then paved the way
        for the rise of debit cards.

        In 2016, ATMs are now simply a (sometimes frustrating) fact of our daily lives. Convenience is a drug with the
        most bitter and exponential buildup of tolerance. As soon as you have even a smidgen, it becomes a standard
        requirement and you suddenly lose any idea of how people survived without it.

        <br> <br><center><h3 class="timeline-text">1983: Telephone banking</center></h3> <br> <br>

        The Bank of Scotland offered Nottingham Building Society customers the first Internet banking service, named
        Homelink. Customers needed a television set and a telephone to send transfers and pay the bills, building the
        foundations for Internet banking as we know it.

        <br> <br><center><h3 class="timeline-text">1990: Internet banking </center></h3><br> <br>

        The beginning of the 90s marked the bloom of click-and-brick euphoria, wherein businesses and banks alike sought
        to gain the loyalty of their customers by expanding into the web. But this strategy proved trickier than
        previously thought, as it took over 10 years for Bank of America to acquire 2 million Internet banking users.

        <br> <br>1997: Contactless fuel payment</center></h3> <br> <br>

        In 1997, Mobil Oil Corp introduced Speedpass, an electronic payment tag that let consumers pay for fuel at the
        pump. Speedpass was the first example of contactless payment, a concept that has now spread across the globe.

        <br> <br><center><h3 class="timeline-text">2000: Y2K </center></h3><br> <br>

        As the new millennium began, it dealt a substantial psychological blow to internet culture worldwide. Seen as
        the mark of an era, customers were now more eager than ever to go online. To go “modern.”
        <br> <br> <center> <img src="/img/CFOM1.webp" alt=""></center><br> <br>
        <br> <br><center><h3 class="timeline-text">2005: Chip and pin </center></h3><br> <br>

        In 2005, retailers that had not yet signed up to chip and pin became liable for fraudulent transactions, as
        shoppers downed their pens and tapped in four-digit personal codes at pay points instead. Retailers were up in
        arms; at the time of the shift, around four in ten bank cards were yet to be upgraded to chip and pin
        technology.

        <br> <br><center><h3 class="timeline-text">2009: The birth of bitcoin and programmable money </center></h3><br> <br>

        After Satoshi Nakamoto posts a paper about the cryptocurrency on the Internet in 2008, the first bitcoins are
        issued in 2009 against a backdrop of the global financial crisis.

        In the early days, individuals used the bitcointalk forums to negotiate the value of the first bitcoin
        transactions, with one payment of 10,000 bitcoins used to indirectly buy two pepperoni pizzas from Papa John’s
        in 2010 (based on today’s bitcoin price, those pizzas cost more than $4 million).

        Digital, decentralised, flexible and secure, the birth of programmable money gives us control of our currency.
        Who knows, someday our driverless car might be able to pay nearby vehicles to let us overtake when we’re late
        for work. The possibilities are endless and exciting.

        <br> <br><center><h3 class="timeline-text">2014: Apple Pay </center></h3><br> <br>

        Continuing the fintech revolution, Apple Pay is released to the public through an iOS update in 2014. The mobile
        service lets consumers pay using the Apple device, removing the need for a wallet. And with nearly 40 percent of
        U.S. retailers now accepting contactless payments, it will soon be time to leave the plastic at home.

        <br> <br><center><h3 class="timeline-text">2016: Blockchain</center></h3> <br> <br>

        Even though bitcoin is gaining more traction as time goes by, banks and businesses still seem more interested in
        the underlying blockchain technology for better or worse. However, as of 2016, the Blockchain industry has
        already received over a billion dollars of VC investment and industry-wide recognition with over 35 blockchain
        projects announced by the world’s foremost financial institutions including NASDAQ and NYSE.

        <br> <br> <center><h3 class="timeline-text">Conclusion </center></h3><br> <br>

        From barter to bitcoin, money and the means of trading have morphed beyond recognition. Thanks to the new
        technology, this century is less about doing more for our money, and more about making money do more for us.
        This is a formative opportunity to break into the blockchain space, and at this rate of development, it is
        almost impossible to predict what may come next.
      </h4>


    </div>
  </div>
  <div class="col-xs-12" style="height:50px;">
    <center><h3 class="timeline-text">
      <a type="" href="/" class="btn btn-link btn-lg">Back</a>
    </center></h3>
  </div>
</body>

</html>