<!DOCTYPE html>
<html lang="en">

<head>
  <title>7E</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <link
    href="https://fonts.googleapis.com/css2?family=Signika+Negative&family=Stick+No+Bills:wght@700&family=Teko&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">

  <link rel="icon" type="image/x-icon" href="/img/letter-m.png">

</head>

<body>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>



  <nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" />
        <img src="/img/letter-m.png" width="5%" alt="">
        VIVIDHA 2022</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">VIVIDHA 2022</h5>
          <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" />Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="About">About Us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Class
              </a>
              <ul class="dropdown-menu dropdown-menu">
                <li><a class="dropdown-item" href="7A">7A</a></li>
                <li><a class="dropdown-item" href="7B">7B</a></li>
                <li><a class="dropdown-item" href="7C">7C</a></li>
                <li><a class="dropdown-item" href="7D">7D</a></li>
                <li><a class="dropdown-item" href="7E">7E</a></li>
                <li><a class="dropdown-item" href="7F">7F</a></li>
                <li><a class="dropdown-item" href="7G">7G</a></li>
                <li><a class="dropdown-item" href="7H">7H</a></li>
                <li><a class="dropdown-item" href="7I">7I</a></li>
                <li><a class="dropdown-item" href="7J">7J</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <br>




  <div class="jumbotron text-center">
    <h1>7E</h1>
    <p>Topic: International vs Indian Brands</p>

  </div>

  <div class="container">
    <div class="row">
      <h2>We often think that International Brands are better Indian Brands. Is that really true? Lets find out what 7E
        has researched about it:</h2>
      <h4>nternational brands such as Zara, H&M, and Forever21 etc. have started taking sizable share in Indian fashion
        market. Indian consumers have started prefer these brands for their perceived quality, fit and style. So, does
        that mean local retailers have no chance to stand out to these brands? Well, the comparison of premium
        international brands to small, local retailers is like comparing apples to oranges.<br><br>However, there are
        few regional/local retailers who are ruling the busiest shopping areas of the city. Let’s take the example of
        Incense, a fast fashion brand (mainly catering women’s fashion) which was incepted in 1999 marking a humble
        beginning at Sarojini Nagar market, New Delhi. Presently, the brand has five stores spread across Delhi. The
        brand is already a super hit among the locals. During the winters, the length of the queue at cash counters
        surpasses the store surroundings and goes till pavement area. Now we can imagine how successful the brand is!
        But, the question is, how such brand stand-out to any international biggie? Or these brands are just a fancy of
        value shopper?
        <br>
        <br>
        <img src="/img/IVSI.jpg" alt="">
        <br>
        <br>
        How locals are achieving global nirvana?
        In an exclusive conversation, Dheeraj Narang, Director, Incense, said, “H&M and to some extent Forever21 has
        given us setback. Though we have maintained steady sales since these two brands have foryed indian market, we
        are still on lesser price margin than them, and we are offering same quality of fabrics and garment that they
        selling to you.”Speaking on yet another premium fashion retailer Zara, he said, “Zara is not all our competition
        at all, we are on upper side in terms of price point. Our SKUs range is much higher to this Spanish retailer. We
        keep 15,000 SKUs in single store of ours.” On footfall, Narang informed, “At 5000 sq.ft store, averagely, we get
        the footfall of 1500 which escalates up to 2000 on weekends.” The brand has 35% sale conversion of this footfall
        as he informed.
      </h4>
      <br>
      <br>
      <h2>So... what is your opinion about Indian Markets now?</h2>

    </div>
  </div>
  <div class="col-xs-12" style="height:50px;">
    <center>
      <a type="" / class="btn btn-link btn-lg">Back</a>
    </center>
  </div>
</body>

</html>