<!DOCTYPE html>
<html lang="en">

<head>
  <title>7G</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <link
    href="https://fonts.googleapis.com/css2?family=Signika+Negative&family=Stick+No+Bills:wght@700&family=Teko&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">

  <link rel="icon" type="image/x-icon" href="/img/letter-m.png">

</head>

<body>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>



  <nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" />
        <img src="/img/letter-m.png" width="5%" alt="">
        VIVIDHA 2022</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">VIVIDHA 2022</h5>
          <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" />Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="About">About Us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Class
              </a>
              <ul class="dropdown-menu dropdown-menu">
                <li><a class="dropdown-item" href="7A">7A</a></li>
                <li><a class="dropdown-item" href="7B">7B</a></li>
                <li><a class="dropdown-item" href="7C">7C</a></li>
                <li><a class="dropdown-item" href="7D">7D</a></li>
                <li><a class="dropdown-item" href="7E">7E</a></li>
                <li><a class="dropdown-item" href="7F">7F</a></li>
                <li><a class="dropdown-item" href="7G">7G</a></li>
                <li><a class="dropdown-item" href="7H">7H</a></li>
                <li><a class="dropdown-item" href="7I">7I</a></li>
                <li><a class="dropdown-item" href="7J">7J</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <br>




  <div class="jumbotron text-center">
    <h1>7G</h1>
    <p>Topic: Online Markets (Hidden Scene)</p>

  </div>

  <div class="container">
    <div class="row">
      <h4>The eCommerce industry has revolutionised the way we shop. With “free shipping”, “ free returns” and even
        “try-before-you-buy” schemes, the sales strategy has become extremely customer-centric. In 2018 alone, 22% of
        all apparel sales took place online and this number is on the rise, every single year. While the customer is
        surely getting the benefit of free logistical services, retailers put up with a whole host of costs to run the
        business and increase sales. Grade 7G has researched about some of the latent costs borne by retailers behind
        the scenes and online.</h4>
      <br>
      <br>
      <br>
      <h2>1. Returns are the bane of eCommerce</h2>
      <br>
      <br>
      <h4>One of the key criteria for customers to make a purchase online is the offer of “free shipping and returns” –
        and atleast 30% of products bought online are returned!

        In fact, a whopping 79% of consumers expect ease of shipping and 92% of customers will buy from the brand
        provided the “returns” are free! Subsequently, retailers lose approximately $642.6 Bn annually from preventable
        returns. How? Simple – the returns and restocking process is far more complicated than direct sales. Once an
        item is returned not only do retailers struggle with supply chain costs, but also with quality control
        enforcement in their warehouses. Also often returned items cannot be resold at the original price due to damage,
        wear and tear or time devaluation.

        Meanwhile, almost 41% of online buyers buy different variations of a product with the explicit intent of
        returning them.

        Then there is the Return Fraud! In some cases, customers have been found returning stolen goods for cash! With
        brands offering “hassle-free” and “no questions asked” return policies, this problem is literally a ticking time
        bomb! To combat increasing security issues with fraudulent transactions and return fraud, brands are now
        doubling down on return policies and even banning some users from shopping on their stores – which in turn is
        impacting their sales.</h4>
      <br>
      <br>
      <img src="/img/omhs.webp" alt="">
      <br>
      <br>
      <h2>2. Photography</h2>
      <br>
      <br>
      <h4>The apparel industry has been taken over by fast fashion. With over 52 micro seasons to cater to, brands are
        optimising their photography workflows to reach maximum customers in their omnichannel strategy. Some brands are
        adding close to 300 products to their store, every single day.

        Photography is a key element to customer acquisition on any platform/medium. High-quality photography is cash
        and labour-intensive, and is a key element in brand marketing, sales, image building and longevity. It leaves
        most businesses with a massive supply chain to optimise, logistical and post-production budgets to bear.

        But with innovation in technology & Artificial Intelligence, companies like FlixStock are transforming Image
        Supply Chain. They have significantly reduced cost and time spent on model photography, while enabling a faster
        go-to-market strategy leading to increased revenue.</h4>
      <br>
      <br>
      <h2>3. Logistics</h2>
      <br>
      <br>
      <h4>Ever wonder how your packages come so perfectly wrapped on your doorstep? Packing, repacking and cargo costs
        are a huge part of the eCommerce business and account for a significant expense in the logistics equation. Over
        165 billion packages are shipped in the US alone each year! Packing, repacking, labelling, sorting, cargo and
        storage are part of the logistics supply chain which is the lifeline of any eCommerce store.

        With brands offering free shipping, same-day delivery, two-hour delivery and so on, the logistics market size
        will rise to an extravagant $196 billion by 2020! Companies such as Alibaba and Amazon are increasing their
        warehousing spends significantly by investing in robotics, AI, drones, city-wide warehousing centres, to further
        cut down the delivery time and costs. Approximately 184 mn sq feet of space will be required to facilitate
        eCommerce logistics in USA by 2020.


      </h4>
      <br>
      <br>


    </div>
  </div>
  <div class="col-xs-12" style="height:50px;">
    <center>
      <a type="" / class="btn btn-link btn-lg">Back</a>
    </center>
  </div>
</body>

</html>