<!DOCTYPE html>
<html lang="en">

<head>
  <title>7H</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <link
    href="https://fonts.googleapis.com/css2?family=Signika+Negative&family=Stick+No+Bills:wght@700&family=Teko&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">

</head>

<body>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>



  <nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" />
        <img src="/img/letter-m.png" width="5%" alt="">
        VIVIDHA 2022</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">VIVIDHA 2022</h5>
          <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" />Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="About">About Us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Class
              </a>
              <ul class="dropdown-menu dropdown-menu">
                <li><a class="dropdown-item" href="7A">7A</a></li>
                <li><a class="dropdown-item" href="7B">7B</a></li>
                <li><a class="dropdown-item" href="7C">7C</a></li>
                <li><a class="dropdown-item" href="7D">7D</a></li>
                <li><a class="dropdown-item" href="7E">7E</a></li>
                <li><a class="dropdown-item" href="7F">7F</a></li>
                <li><a class="dropdown-item" href="7G">7G</a></li>
                <li><a class="dropdown-item" href="7H">7H</a></li>
                <li><a class="dropdown-item" href="7I">7I</a></li>
                <li><a class="dropdown-item" href="7J">7J</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <br>




  <div class="jumbotron text-center">
    <h1>7H</h1>
    <p>Topic: Types of Markets</p>

  </div>

  <div class="container">
    <div class="row">
      <h2>Types of Markets</h2>
      <br>
      <br>
      <h4>As soon as we wake up, we require different products to start our day- toothbrush, toothpaste, groceries for
        breakfast, etc. It’s simple to go out and buy from the markets. But have you ever thought about the complex
        process of them being produced and reaching you? Let us look at the types of markets.

      </h4>
      <br>
      <br>
      <img src="/img/tom.jpeg" width="50" alt="">
      <br>
      <br>
      <h2>Different Types of Markets</h2>
      <br>
      <br>
      <ol>
        <li>Weekly Markets</li>
        <li>Neighbourhood Markets</li>
        <li>Shopping Complexes or Malls</li>
        <li> Online Market</li>
        <li>Wholesale Market</li>
        <li>Markets and Inequality</li>
      </ol>
      <br>
      <br>
      <h4>Weekly Markets <br><br>
        Those that are set up and function on one day of the week (that is, on a weekly basis) are called weekly
        markets. The traders of various items come and set up temporary stalls at a place and sell their items. Mostly,
        the items are cheap, as the vendors do not have to pay rent or tax money.

        A variety of items are found here, be it vegetables, utensils, or clothing items! The negative point is that the
        market is temporary and shops may not exist when you need it during emergencies!

        <br><br>Neighbourhood Markets <br><br>

        These are the shops or vendors present near our homes, on a nearly permanent basis. These include medicine shops
        or grocery shops near our homes, as well as a vegetable selling vendor who sells his produce every day of the
        week.

        The prices of items here may be higher than those of weekly markets, as the cost of rent, electricity, and taxes
        may be added to their price.

        However, a positive aspect of these markets is that one can rely on them and they will be delivered right to our
        doorstep!

        <br><br>Shopping Complexes or Malls <br><br>
        These are found in urban cities. They are large buildings that are solely built to host shops that sell branded
        goods to customers. People visit malls to do shopping for clothes, shoes, electronics, furniture, jewelry, even
        groceries, etc.

        Here, the prices are the highest since it has the best-branded items of superior quality. Some malls even have
        cinema theatres or other entertainment centres!

        <br><br>Online Market <br><br>
        This decade has seen the growth of e-commerce or “online shopping”, in simple terms. With a click of a button,
        one can order shoes, cosmetics, even food!

        With technology, places to shop are everywhere around us and it has increased our convenience in living.

        <br><br>Wholesale Market <br><br>
        We know that grains are produced in fields by farmers, made into your breakfast cereal in the factories, but how
        come we don’t buy it directly from the factories? Because that is the work of “wholesalers”.

        These are tradesmen who buy products in huge quantities and then sell them to our shopkeepers (who are called
        retailers), who then sell them to us. This is almost invisible to us, but plays an important role in getting our
        basic needs to our homes!

        <br><br>Markets and Inequality <br><br>
        In the above paragraphs, we have seen that different types of shops sell different products by different
        shopkeepers.

        We must note that there is an inequality between the “economic condition” of both buyers and sellers of these
        different places.

        This simply means that sellers and buyers of small markets like a vegetable stall use less money than those who
        shop and sell in a big shopping mall.

        Thus, we see how there are different types of markets around us. How interesting was it to find out that there
        are also some we can’t even see!
      </h4>
      <br>
      <br>


    </div>
  </div>
  <div class="col-xs-12" style="height:50px;">
    <center>
      <a type="" / class="btn btn-link btn-lg">Back</a>
    </center>
  </div>
</body>

</html>