<!DOCTYPE html>
<html lang="en">

<head>
  <title>7J</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


  <link
    href="https://fonts.googleapis.com/css2?family=Signika+Negative&family=Stick+No+Bills:wght@700&family=Teko&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">



</head>

<body>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>



  <nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" />
        <img src="/img/letter-m.png" width="5%" alt="">
        VIVIDHA 2022</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">VIVIDHA 2022</h5>
          <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" />Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="About">About Us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Class
              </a>
              <ul class="dropdown-menu dropdown-menu">
                <li><a class="dropdown-item" href="7A">7A</a></li>
                <li><a class="dropdown-item" href="7B">7B</a></li>
                <li><a class="dropdown-item" href="7C">7C</a></li>
                <li><a class="dropdown-item" href="7D">7D</a></li>
                <li><a class="dropdown-item" href="7E">7E</a></li>
                <li><a class="dropdown-item" href="7F">7F</a></li>
                <li><a class="dropdown-item" href="7G">7G</a></li>
                <li><a class="dropdown-item" href="7H">7H</a></li>
                <li><a class="dropdown-item" href="7I">7I</a></li>
                <li><a class="dropdown-item" href="7J">7J</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <br>




  <div class="jumbotron text-center">
    <h1>7J</h1>
    <p>Topic: Transportation of Goods</p>
  </div>

  <div class="container">
    <div class="row">
      <h2>What happens when a country buys food from another country? How does the food come to the buyer country? 7J
        will have all the answers to your questions.</h2>
      <br>
      <br>
      <h4>Recently, the cargo transport market has been impacted by the adverse effects of external forces.
        Nevertheless, road cargo transportation has kept its leading positions in the segment. High volumes of freight
        transportation by road are caused by several factors. Trucks can make efficient deliveries 24 hours a day
        regardless of airport, railway, and port operating schedules. Truck usage allows flexible routing and cargo
        tracing with data from modern GPS navigation systems and GLONASS. In case of short-distance goods delivery,
        transportation by trucks minimizes financial costs. AsstrA helps its Clients enjoy all the advantages of
        intercity and international road freight transportation. For over 26 years our specialists have developed
        optimal routes in Europe, the Baltics, the Balkans and Central Asia. They take into consideration the individual
        needs of Clients and provide transportation in strict conformity with agreed terms at the best prices. Due to
        cooperation with large transport companies we can offer a flexible pricing policy and maintain a high level of
        service quality.</h4>


      <center><img src="/img/7j.jpg" alt=""></center><br><br>



    </div>
  </div>
  <div class="col-xs-12" style="height:50px;">
    <center>
      <a type="" / class="btn btn-link btn-lg">Back</a>
    </center>
  </div>
</body>

</html>