<!DOCTYPE html>
<html lang="en">

<head>
  <title>VIVIDHA 2022</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


  <link
    href="https://fonts.googleapis.com/css2?family=Signika+Negative&family=Stick+No+Bills:wght@700&family=Teko&display=swap"
    rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">


</head>

<body>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>


  <nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/img/letter-m.png" width="5%" alt="">
        VIVIDHA 2022</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">VIVIDHA 2022</h5>
          <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about">About Us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Class
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="7A">7A</a></li>
                <li><a class="dropdown-item" href="7B">7B</a></li>
                <li><a class="dropdown-item" href="7C">7C</a></li>
                <li><a class="dropdown-item" href="7D">7D</a></li>
                <li><a class="dropdown-item" href="7E">7E</a></li>
                <li><a class="dropdown-item" href="7F">7F</a></li>
                <li><a class="dropdown-item" href="7G">7G</a></li>
                <li><a class="dropdown-item" href="7H">7H</a></li>
                <li><a class="dropdown-item" href="7I">7I</a></li>
                <li><a class="dropdown-item" href="7J">7J</a></li>
              </ul>
            </li>
          </ul>
          
        </div>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <br>


  <div class="row">
    <div class="jumbotron text-center">
      <div class="column">
        <img src="/img/letter-m.png" width="30" height="30" class="d-inline-block align-top" alt="">
      </div>
      <div class="column">
        <h1>VIVIDHA 2022</h1>
        <p>Topic: Markets</p>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2>Timeline of Markets</h2>
        <h4>Here is the time line of the evolution of markets:</h4>
        <img src="/img/Timeline.png" alt="Time line" width="100%">
      </div>
      <div class="col-sm-4">
        <h2>What are Markets?</h2>
        <h4>A market is defined as the sum total of all the buyers and sellers in the area or region under
          consideration. The area may be the earth, or countries, regions, states, or cities.

          The value, cost and price of items traded are as per forces of supply and demand in a market. The market may
          be a physical entity, or may be virtual. It may be local or global, perfect and imperfect.
        </h4>
      </div>
      <div class="col-sm-4">
        <h2>Types of Markets</h2>
        <h4>A market can be called the 'available market' - that of all the people in the area. Within the available
          market, there is the 'market minimum'- or the market size, which will buy goods without any marketing effort.
          This is the lowest sale that a company could get without any action on its part. In today's world, this level
          is sinking ever lower.




          There is also the 'market potential', which is the maximum market size that will buy goods when subjected to
          the greatest marketing action that a company can do. Beyond this market potential, the costs outweigh the
          gains. The market potential is therefore the upper limit for a marketplace and sales.
        </h4>
      </div>
    </div>

  </div>
  <br><br>




</body>

</html>