* {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}

h4{
  font-family: Signika Negative;
}

.dropitem {
  transition: all 0.2s ease-in-out;
}

.timeline-text {
  font-family: Gochi Hand;
}

.text-center{
  font-family: Teko;
}

h2{
  font-family: Stick No Bills;
}
